<div class="main">
  <!-- page top header -->
  <div class="toolbar" role="banner">
    <h1>ToDo</h1>
  </div>

  <div class="content" role="main">
    <!-- page content -->
    <div class="centered todo-main">
      <!-- page input field -->
      <div class="todo-main_form">
        <app-task-form (updatedDataSet)="captureUpdatedList($event)"></app-task-form>
      </div>

      <!-- page tasks list -->
      <div class="todo-main_list">
        <app-task-list [updatedTasks]="updatedList$"></app-task-list>
      </div>

    </div>
  </div>
</div>
